
<legend>Authorize Zepho Shopping Cart</legend>

<p>
    To give our shopping cart the permission to process PayPal payments on your behalf, click the button below.<br/> <br/>
	
	<%= link_to 'Grant Permission to Zepho', paypal_authorize_url(@token) %>
</p>